src/main/resources/wsdl/empleados.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/demosoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/demosoap/gen" targetNamespace="http://www.example.com/demosoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/demosoap/gen">
            <!--  Find All  -->
            <xs:element name="getEmpleadosRequest">
                <xs:complexType>
                    <xs:sequence> </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmpleadosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="empleado" type="tns:empleado"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  Find by name  -->
            <xs:element name="getEmpleadoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmpleadoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="empleado" type="tns:empleado"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  Save  -->
            <xs:element name="postEmpleadoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="empleado" type="tns:empleado"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postEmpleadoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="empleado" type="tns:empleado"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="empleado">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="nombres" type="xs:string"/>
                    <xs:element name="apellidos" type="xs:string"/>
                    <xs:element name="tipoDocumento" type="xs:string"/>
                    <xs:element name="numeroDocumento" type="xs:string"/>
                    <xs:element name="fechaNacimiento" type="xs:date"/>
                    <xs:element name="fechaVinculacion" type="xs:date"/>
                    <xs:element name="cargo" type="xs:string"/>
                    <xs:element name="salario" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="postEmpleadoResponse">
        <wsdl:part element="tns:postEmpleadoResponse" name="postEmpleadoResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmpleadoResponse">
        <wsdl:part element="tns:getEmpleadoResponse" name="getEmpleadoResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="postEmpleadoRequest">
        <wsdl:part element="tns:postEmpleadoRequest" name="postEmpleadoRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmpleadosResponse">
        <wsdl:part element="tns:getEmpleadosResponse" name="getEmpleadosResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmpleadoRequest">
        <wsdl:part element="tns:getEmpleadoRequest" name="getEmpleadoRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmpleadosRequest">
        <wsdl:part element="tns:getEmpleadosRequest" name="getEmpleadosRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="empleadosPort">
        <wsdl:operation name="postEmpleado">
            <wsdl:input message="tns:postEmpleadoRequest" name="postEmpleadoRequest"> </wsdl:input>
            <wsdl:output message="tns:postEmpleadoResponse" name="postEmpleadoResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmpleado">
            <wsdl:input message="tns:getEmpleadoRequest" name="getEmpleadoRequest"> </wsdl:input>
            <wsdl:output message="tns:getEmpleadoResponse" name="getEmpleadoResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmpleados">
            <wsdl:input message="tns:getEmpleadosRequest" name="getEmpleadosRequest"> </wsdl:input>
            <wsdl:output message="tns:getEmpleadosResponse" name="getEmpleadosResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="empleadosPortSoap11" type="tns:empleadosPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="postEmpleado">
            <soap:operation soapAction=""/>
            <wsdl:input name="postEmpleadoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="postEmpleadoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmpleado">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmpleadoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmpleadoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmpleados">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmpleadosRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmpleadosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="empleadosPortService">
        <wsdl:port binding="tns:empleadosPortSoap11" name="empleadosPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>